.root {
    -fx-background-color: linear-gradient(to bottom, #fcca81, white);
}

<<<<<<< HEAD
/* Style for the table */
.table-view {
    -fx-background-color: linear-gradient(to bottom, #fcca81, white);
}

/* Style for table headers */
.table-view .column-header {
    -fx-background-color:  #FFA500;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

/* Style for table rows */
.table-row-cell {
    -fx-background-color:  rgba(255,255,255,0);
    -fx-font-size: 14pt;

}

/* Style for alternate table rows */
.table-row-cell:odd {
    -fx-background-color:  rgba(255,255,255,0);
}

/* Style for selected rows */
.table-row-cell:selected {
    -fx-background-color: dodgerblue;
    -fx-text-fill: white;
}

/* Style for cell borders */
.table-cell {
    -fx-border-color: black;
    -fx-border-width: 1px;
}



/* Normal state */
.button {
    -fx-background-color: #FFA500;
    -fx-text-fill: black;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
}


/* Hovered state */
.button:hover {
    -fx-background-color: #ff8c00;
}

/* Pressed state */
.button:pressed {
    -fx-background-color: #b45f06;
}

/* Disabled state */
.button:disabled {
    -fx-opacity: 0.5;}
}

.button {
    -fx-background-color: #FFC04C; /* Lighter orange color */
    -fx-text-fill: black; /* Black text */
    -fx-background-radius: 30; /* Rounded corners */
    -fx-padding: 10 20;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-border-color: black; /* Black border */
    -fx-border-width: 2; /* Border width */
    -fx-border-radius: 30; /* Rounded border to match the button's corner radius */
    -fx-font-family: "Helvetica";
}

.label {
    -fx-font-size: 20px;
    -fx-text-fill: #333;
}

.border-pane {
    -fx-background-color: transparent;
}

.vbox {
    -fx-background-color: transparent;
}

/* Assuming you want the back-button style to remain unchanged */
.back-button {
    -fx-background-color: #ff6347; /* Tomato color */
    -fx-text-fill: white; /* White text */
    -fx-background-radius: 30; /* Rounded corners */
}

.titleLabel {
    -fx-font-size: 40px;
    -fx-font-family: "Arial";
    -fx-text-fill: #2c3e50; /* A dark shade of blue */
    -fx-font-weight: bold;
    }

